{% extends  "base.html" %}
{% block title %}Team | TaskManager{% endblock %}
<body>
{% block content %}
  {% load static %}
  <div class="custom-btn-container">
    <a class="btn btn-dark" href="{% url 'task-management-app:task-create' %}">
      <img src="{% static 'images/plus.png' %}" alt="Add" width="20"> Add task
    </a>
  </div>
  <div class="container">
    {% if task_list %}
      <div class="card-container">
        {% for task in task_list %}
         <div class="card">

    <div class="card-body">
        <h3 class="card-title">
            <a class="custom-link" href="{% url 'task-management-app:task-detail' pk=task.id %}">{{ task.name }}</a>
        </h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong class="strong-h">Deadline:</strong> {{ task.deadline }}
            </li>
            <li class="list-group-item">
                <strong class="strong-h">Priority:</strong> {{ task.priority }}
            </li>
            <li class="list-group-item">
                <strong class="strong-h">Type:</strong> {{ task.task_type }}
            </li>
        </ul>
        <div class="card-body">
            <form action="{% url 'task-management-app:task-toggle-status' pk=task.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                    <button type="submit" class="complete-btn btn btn-outline-success">
                      Complete
                      <img src="{% static 'images/done.png' %}" alt="Complete" width="20">
                    </button>
            </form>
        </div>
    </div>
</div>
        {% endfor %}
      </div>
    {% else %}
       <div class="centered-message">
        <h2>
          No more tasks left!
        </h2>
        <h5>
          <a class="btn btn-outline-dark" href="{% url 'task-management-app:task-create' %}">
            Create a new one!
          </a>
        </h5>
      </div>
    {% endif %}
  </div>
{% endblock %}
