{% extends "base.html" %}

{% block content %}
  <div class="custom-btn-container">
    <a class="lg-hover btn btn-dark" href="{% url 'task-management:tag-create' %}">
      Add new tag
    </a>
  </div>
<div class="container">
        <h1>Tags:</h1>
        <table class="tag-table">
            <tbody>
                {% for tag in tag_list %}
                    <tr>
                        <td>{{ tag.name }}</td>
                        <td>
                            <form method="post" action="{% url 'task-management:tag-delete' tag.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dark">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No tags available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
